{% extends 'base.html' %}

{% block content %}
  <div class="d-flex justify-content-between mb-3">
    <h2>Customers</h2>

    <a href="/customers/add/" class="btn btn-primary">Add Customer</a>
  </div>

  <table class="table table-bordered shadow">
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th>City</th>
      <th>Car</th>
      <th>Action</th>
    </tr>

    {% for customer in customers %}
      <tr>
        <td>{{ customer.name }}</td>
        <td>{{ customer.phone }}</td>
        <td>{{ customer.city }}</td>
        <td>{{ customer.interested_car }}</td>

        <td>
          <a href="/customers/edit/{{ customer.id }}/" class="btn btn-warning btn-sm">Edit</a>

          <a href="/customers/delete/{{ customer.id }}/" class="btn btn-danger btn-sm">Delete</a>
        </td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
