{% extends 'base.html' %}

{% block content %}
  <div class="container mt-5">
    <div class="card shadow-lg p-4 rounded-4">
      <h2 class="mb-4 fw-bold text-center">Add New Car</h2>

      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="mb-3">
          <label class="form-label">Car Name</label>

          <input type="text" name="name" class="form-control" placeholder="Enter car name" />
        </div>

        <div class="mb-3">
          <label class="form-label">Price</label>

          <input type="number" name="price" class="form-control" placeholder="Enter price" />
        </div>

        <div class="mb-3">
          <label class="form-label">Mileage</label>

          <input type="text" name="mileage" class="form-control" placeholder="Enter mileage" />
        </div>

        <div class="mb-3">
          <label class="form-label">Car Image</label>

          <input type="file" name="image" class="form-control" />
        </div>

        <button type="submit" class="btn btn-dark w-100">Add Car</button>
      </form>
    </div>
  </div>
{% endblock %}
