{% extends 'base.html' %}

{% load static %}

{% block content %}
  <div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center mb-4">
      <h1 class="fw-bold">Available Cars</h1>

      <a href="/cars/add/" class="btn btn-dark rounded-pill px-4">
        + Add Car
      </a>
    </div>

    <div class="row">
      {% for car in cars %}
        <div class="col-md-4 mb-4">
          <div class="card shadow-lg border-0 rounded-4 overflow-hidden h-100">

            <img src="{{ car.image.url }}"
                 class="card-img-top"
                 style="height:250px; object-fit:cover;" />

            <div class="card-body">

              <h3 class="fw-bold">{{ car.name }}</h3>

              <h5 class="text-success">₹ {{ car.price }}</h5>

              <p class="text-muted">
                Mileage: {{ car.mileage }}
              </p>

              <button class="btn btn-dark w-100 rounded-pill">
                View Details
              </button>

            </div>
          </div>
        </div>

      {% empty %}

        <div class="col-12">
          <div class="alert alert-warning">
            No Cars Added Yet
          </div>
        </div>

      {% endfor %}
    </div>
  </div>
{% endblock %}